<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guigu.mybatis.mapper.UserMapper">


    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null, "marina", "456",24,"男","153456@qq.com")
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        update t_user set username = '张三' where id = 6
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 10
    </delete>

    <!--User getUserById();-->
    <!--
        查询功能的标签必须设置resultType或者resultMap
        resultType：设置默认的映射关系
        resultMap：设置自定义的映射关系（字段名和表头不一样）
    -->
    <select id="getUserById" resultType="com.guigu.mybatis.pojo.User">
        select * from t_user where id = 6
    </select>

    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>


</mapper>
